#SPDX-License-Identifier: MIT-0
---
# tasks file for ansible-role-k0rdent
# docs: https://docs.k0rdent.io/latest/quickstarts/quickstart-1-mgmt-node-and-cluster/#install-a-kubernetes-cluster-as-the-management-cluster

# 1. Install a Kubernetes cluster as the management cluster

- name: Download k0s install script
  ansible.builtin.get_url:
    url: https://get.k0s.sh
    dest: /tmp/install-k0s.sh
    mode: "0775"

- name: Run k0s install script
  become: true
  ansible.builtin.command: /tmp/install-k0s.sh
  args:
    creates: /usr/local/bin/k0s

- name: Install k0s as a service
  become: true
  ansible.builtin.command: k0s install controller --enable-worker --no-taints

- name: Start k0s service
  become: true
  ansible.builtin.command: k0s start

# 2. Install kubectl

- name: Refresh package lists
  become: true
  apt:
    update_cache: yes

- name: Install required packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
    state: present

- name: Download k8s GPG key
  get_url:
    url: https://pkgs.k8s.io/core:/stable:/v1.31/deb/Release.key
    dest: /tmp/k8s.key
    mode: "0644"

- name: Install k8s GPG key
  shell: |
    gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg /tmp/k8s.key
  args:
    creates: /etc/apt/keyrings/kubernetes-apt-keyring.gpg

- name: Allow unprivileged apt programs to read keyring
  become: true
  file:
    path: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    mode: "0644"

- name: Add k8s apt repository
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.31/deb/ /"
    state: present
    filename: kubernetes

- name: Allow tools like command-not-found work correctly
  become: true
  file:
    path: /etc/apt/sources.list.d/kubernetes.list
    mode: "0644"

- name: Refresh package lists (second time)
  become: true
  apt:
    update_cache: yes

- name: Install kubectl
  apt:
    name:
      - kubectl
    state: present

# Get the local k0s cluster's kubeconfig for kubectl

- name: Copy k0s admin kubeconfig
  become: true
  ansible.builtin.copy:
    src: /var/lib/k0s/pki/admin.conf
    dest: /home/{{ ansible_user }}/KUBECONFIG
    remote_src: true

- name: Set required permission for kubeconfig
  become: true
  file:
    path: /home/{{ ansible_user }}/KUBECONFIG
    mode: "0644"

- name: Set KUBECONFIG in .bashrc
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: "export KUBECONFIG=~/KUBECONFIG"

# Install Helm

- name: Download Helm install script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: "0770"

- name: Run Helm install script
  ansible.builtin.command: /tmp/get_helm.sh

# Install k0rdent
- name: Install k0rdent with Helm
  ansible.builtin.command: helm install kcm oci://ghcr.io/k0rdent/kcm/charts/kcm --version 1.7.0 -n kcm-system --create-namespace
